<div>
	<a href="https://greenhouse.gardenhq.io/o/" target="_blank">
	    <img src="${ 'https://www.google-analytics.com/collect?v=1&aip=1&t=event&ec=devbar&ea=load&tid=UA-98735002-3&cid=' + props.uid + '&z=' + (new Date().getTime()) }" width="1" height="1" style="opacity: 0;" />
		<img src="${ props.root + "/images/leaf.svg"}" height="33" alt="GardenHQ" />
	</a>

	<div>
		<div>
			<div>
				<label>Cache</label>
				<div>
					<label>
						<span>Everything</span>
						<input type="checkbox" checked="${props.fullclear}" onclick="${ dispatch("fullclear", !props.fullclear) }" />
					</label>
				</div>
			</div>
			<button onclick="${ dispatch("clear") }">Clear</button>
		</div>
		<div>
			<div>
				<label>Bundler</label>
				<div>
					<input type="text" value="${ props.only }" placeholder="Only modules" oninput="${ dispatch("only", "only") }" />
					<input type="text" value="${ props.out }" placeholder="Output filename" oninput="${ dispatch("out") }" />
					<label>
						<span>Auto bundle</span>
						<input type="checkbox" checked="${props.autobundle}" onclick="${ dispatch("autobundle", !props.autobundle) }" />
					</label>
				</div>
			</div>
			<button onclick="${ dispatch("build") }">Bundle Now</button>
		</div>
	</div>

</div>
